*{
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: "Space Grotesk", sans-serif;
}

:root{
    --yellow: rgb(201, 156, 86);
    --black: rgb(23, 23, 23);
    --white : rgb(219, 223, 223);
    --red:rgb(132, 1, 1);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-white{
    background-color: var(--white);
}

.bg-red{
    background-color: var(--red);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-white{
    color: var(--white);
}

.text-red{
    color: var(--red);
}

/* NavBar */

.navbar{
    height: 70px;
    transition: 0.5s;
}

.nav-link{
    color: var(--white);
    font-weight: 700;
}

.nav-link:hover{
    color: var(--black)!important;
}

.logo{
    width: 50px;
}

/* Header */
.header{
    background-image:linear-gradient(var(--black),transparent,var(--black)), url(https://mrwallpaper.com/images/hd/assassin-s-creed-logo-in-solid-black-8zt8i290py72u965.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-custom{
    color: var(--yellow);
    background-color: var(--black);
    border: 2px solid var(--yellow);
    border-radius: 50px;
    margin: 0px 15px;
    padding: 20px 30px;
    transition: 0.5s;
}

.btn-custom:hover{
    color: var(--red);
    background-color: var(--white);
    border:  2px solid var(--red);
    transform: scale(1.1);
}

/* Positioned */
.positioned{
    position: relative;
    top: -150px;
}

.col-custom{
    padding: 10px;
    border: 2px solid var(--black);
    cursor: pointer;
    transition: 0.5s;
}

.col-custom:hover{
    transform: scale(1.1);
}