*{
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: "Space Grotesk", sans-serif;
}

:root{
    --yellow: rgb(201, 156, 86);
    --black: rgb(23, 23, 23);
    --white : rgb(219, 223, 223);
    --red:rgb(132, 1, 1);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-white{
    background-color: var(--white);
}

.bg-red{
    background-color: var(--red);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-white{
    color: var(--white);
}

.text-red{
    color: var(--red);
}

/* NavBar */

.navbar{
    height: 70px;
    transition: 0.5s;
}

.nav-link{
    color: var(--yellow);
    font-weight: 700;
}

.nav-link:hover{
    color: var(--white);
}

.logo{
    width: 50px;
}